<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/createMemberForm.css}" href="../../static/css/createMemberForm.css">
    <title>기부 책 명단</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th style="width: 50px">#</th>
            <th>책제목</th>
            <th>기부 하신 분</th>
        </tr>
        </thead>
        <tbody>
        <p class="important">id 클릭시 수정</p>
        <tr th:each="book : ${books}">
            <td>
                <form th:action="@{'/book/edit'}" method="GET">
                    <input type="hidden" name="id" th:value="${book.id}">
                    <input th:type="submit" th:value="${book.id}" />
                </form>
            </td>
            <td th:text="${book.name}">나</td>
            <td th:text="${book.bonor}">라</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>