<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:>
<head><link rel="stylesheet" type="text/css" th:href="@{/css/memberList.css}" href="../../static/css/memberList.css"></head>
<body>

<div class="container">
  <header class="common">
    <div class="subtitle">
      <h2><a th:href=@{${'/'}}>HOME</a></h2>
    </div>
    <div class="topnav">
      <ul>
        <li>&#10217;</li>
        <li><a src="#">도서 추천</a></li>
      </ul>
    </div>
  </header>
  <div>
    <table>
      <thead>
      <tr>
        <th style="width: 50px">#</th>
        <th>사진</th>
        <th>책제목</th>
        <th>작 가</th>
        <th>빌린 횟수</th>
        <th>책 UID</th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="recommend :${recommends} ">
        <td th:text="${recommend.id}" style="width: 50px">가</td>
        <td><img height="50px" width="50px" th:src="${recommend.img}" /></td>
        <td th:text="${recommend.name}">다</td>
        <td th:text="${recommend.writer}">라</td>
        <td th:text="${recommend.count}">마</td>
        <td th:text="${recommend.uid}">바</td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>