@charset "UTF-8";
/* edit user css */

.form {
  margin-top: 3em;
}

.typoBox {
  text-transform: uppercase;
}

h6.typo {
  display: flex;
  margin-top: 2em;
  font-weight: bold;
  justify-content: center;
}

button.editBtn {
  margin-top: 2.5em;
  color: white;
  background-color: #5165a1;
}
button.editBtn:hover {
  background-color: #4c609b;
}

.iconCell {
  width: 3ch;
}
