@charset "UTF-8";
/* NavBar css */

a.link {
  color: white;
}
a.link:link,
a.link:visited,
a.link:hover,
a.link:active {
  color: white;
}

h5.typo {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

button.addbtn {
  background-color: #5165a1;
}
button.addbtn:hover {
  background-color: #4c609b;
}

td.delicon:hover {
  cursor: pointer;
}
