@charset "UTF-8";
/* books css */

a.link {
  color: white;
}
a.link:link,
a.link:visited,
a.link:hover,
a.link:active {
  color: white;
}

h5.typo {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

input.input {
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-size: 14px;
  color: #5e5e5e;
  border: 1px solid #5e5e5e52;
}

input.submit { width: 180px; }
input.submit:hover {
  cursor: pointer;
  background-color: #e3e3e3;
}

.input__id {
  width: 100%;
  background-color: transparent;
  border: none;
}

div.filebox .upload-name {
  display: inline-block;
  width: 180px;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  color: #999999;
}

div.filebox label {
  display: inline-block;
  height: 20px;
  width: 65px;
  padding: 10px;
  color: black;
  vertical-align: middle;
  background-color: #e3e3e3;
  cursor: pointer;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 5px;
}

div.filebox label:hover {
  background-color: #dbdbdb;
}

div.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

button.submit {
  color: white;
  background-color: #5165a1;
  margin-left: 5px;
  border-radius: 2px;
}
button.submit:hover {
  background-color: #4c609b;
}

img.img {
  width: 100px;
}

td.iconCell {
  width: 1.3em;
  text-align: center;
}

.idCell {
  width: 0.5em;
  text-align: center;
}

.hover:hover {
  cursor: pointer;
}