<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head><link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" href="../static/css/home.css"></head>
<body>
<div class="container">
    <div id="loginForm">
        <h1 th:onclick="'location.href=\''+ @{${"/home"}} + '\''" style="color: white">SHELF-ER</h1>
        <p>관리자 로그인</p>
        <form action="/logins" method="post">
            <input name="name" type="text" placeholder="아이디를 입력하세요."/>
            <input name="pw" type="password" placeholder="비밀번호를 입력하세요"/>
            <input name="login" type="submit" value="로그인"/>
        </form>
    </div>
</div> <!-- /container -->
</body>
</html>