<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css">
    <link rel="stylesheet" th:href="@{/css/borrow.css}" href="../static/css/borrow.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Web site created using create-react-app" />
    <title>mypage</title>
</head>

<body>
<!-- header 시작 -->
<header>
    <div id="subtitle">
        <h2>전자책</h2>
    </div>
    <div id="topnav" style="padding-top: 5px;">
        <ul>
            <li><a href="/"><img th:src="@{/img/home.png}" style="margin-top: 4px"/></a></li>
            <li>&#10217;</li>
            <li><a href="/borrow">자료 검색</a></li>
        </ul>
    </div>
    <div id="loginnav">
        <ul>
            <li th:text="${loginGo}"></li>
            <li><a href="/main">로그아웃</a></li>
        </ul>
        <a href="/client"><img th:src="@{/img/loginicon.png}"/></a>
    </div>
</header><!-- header 끝 -->

<!-- section main 시작 -->
<section id="main">
    <!-- left 시작 -->
    <div id="left">
        <div id="menu_01" class="menu">
            <div class="menu_title">
                <form action="/nameSharing" method="GET">
                    <input id="userNameSharingMenu" name="Sharing" type="submit" value="자료검색"/>
                    <input name="id" type="hidden" th:value="${loginGo2}"/>
                    <input name="num" type="hidden" value="2"/>
                </form>
            </div>
        </div>
        <div id="menu_02" class="menu">
            <a href="#"><div class="menu_title"><div style="float: left">인기신간</div></div></a>
            <ul>
                <li><a href="#">&#8226; 가정과 생활</a></li>
                <li><a href="#">&#8226; 경제/비즈니스</a></li>
                <li><a href="#">&#8226; 인문/사회</a></li>
                <li><a href="#">&#8226; 역사</a></li>
                <li><a href="#">&#8226; 자연/과학</a></li>
                <li><a href="#">&#8226; 취미/건강/여행</a></li>
                <li><a href="#">&#8226; 문화예술</a></li>
            </ul>
        </div>
        <div id="menu_03" class="menu">
            <div class="menu_title">
                <form action="/bookLending" method="GET">
                    <input id="userNameSharingMenu2" name="Sharing" type="submit" value="나의도서관"/>
                    <input name="name" type="hidden" th:value="${loginGo}"/>
                    <input name="id" type="hidden" th:value="${loginGo2}"/>
                    <input name="num" type="hidden" value="1"/>
                </form>
            </div>
            <ul>
                <form action="/nameSharing" method="GET">
                    <li><input id="userNameSharing" name="Sharing" type="submit" value="내정보"/></li>
                    <input name="id" type="hidden" th:value="${loginGo2}"/>
                    <input name="num" type="hidden" value="0"/>
                </form>
                <br>

                <form action="/bookLending" method="GET">
                    <li><input id="userNameSharing2" name="Sharing" type="submit" value="대출현황"/></li>
                    <input name="name" type="hidden" th:value="${loginGo}"/>
                    <input name="id" type="hidden" th:value="${loginGo2}"/>
                    <input name="num" type="hidden" value="1"/>
                </form>
                <br>
            </ul>
        </div>
    </div><!-- left 끝 -->

    <!-- content 시작 -->
    <div id="content">
        <h1>자료검색</h1><hr>

        <!-- findlist 시작 -->
        <div id="findlist">
            <select id="genre" style="width: 160px; float: left;">
                <option value="0">장르를 선택하세요</option>
                <option value="1">장르 전체</option>
                <option value="2">기술/과학</option>
                <option value="3">예술</option>
                <option value="4">문학</option>
            </select>
            <select id="title" style="width: 110px; float: left;">
                <option value="0">제목 검색</option>
                <option value="1">저자 검색</option>
            </select>
            <form action="/sea" method="GET" style="width: 60%; float: left;">
                <div id="searchbar" style="width: 87%">
                    <input name="keyword" type="text"/>
                    <input id="filterval" name="filter" type="hidden" value="0"/>
                    <input id="categoryval" name="categoryfilter" type="hidden" value="0"/>
                    <input name="id" type="hidden" th:value="${loginGo2}"/>
                    <script language="JavaScript">
                        document.getElementById("title").onchange = function(){document.getElementById("filterval").value=document.getElementById("title").value;}
                        document.getElementById("genre").onchange = function(){document.getElementById("categoryval").value=document.getElementById("genre").value;}
                    </script>
                </div>
                <button id="searchbtn"><img th:src="@{/img/search.png}"/></button>
            </form>



        </div><!-- findlist 끝 -->

        <!-- result 시작 -->
        <div th:insert="books/search.html"></div>
        <!--<div id="result">
          <p>검색된 책이 없습니다.</p>
          <p>키워드를 입력해주세요!</p>
        </div> --><!-- result 끝 -->
    </div><!-- content 끝 -->
</section><!-- section main 끝 -->

</body>
</html>
