<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사용자 페이지</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css" media="screen" />
</head>
<body>
<header>
  <div>
    <ul id="login">
      <li><a href="/login2">로그인</a></li>
      <li><a href="/userinsert">회원가입</a></li>
      <li><img th:src="@{/img/usericon.png}"></li>
    </ul>
  </div>
</header>
<section id="main">
  <h1>&#128366;SHELF-ER</h1>
  <h3>로그인이 필요합니다.</h3>
  <h3><a th:href=@{${'/'}}>HOME으로</a></h3>
</section>
</body>
</html>