<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head><link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" href="../static/css/home.css"></head>
<body>
<div class="container">
    <div>
        <div style="position: absolute">
            <div style="float: left">
                <h1 th:onclick="'location.href=\''+ @{${"/home"}} + '\''">
                    <p id="title">SHELF-ER</p>
                    <p id="sub__title" style="">USER</p>
                </h1>
            </div>
            <div id="link" style="margin-top: 25px;">
                <a href="/">》도서화면</a>
            </div>
            <div id="clock" style="float: right">
                <div id="clock__caldr">2022년 00월 00일</div>
                <div id="clock__time">00:00:00</div>
            </div>
<!--        <h1 th:onclick="'location.href=\''+ @{${"/login"}} + '\''">LOGIN</h1>-->
        </div>
        <div style="position: absolute; margin-top: 100px; width: 1000px">
            <div style="position: relative; float: right; text-align: right;">
                <p>
                    <a style="font-size: 18px; text-decoration: none;" onMouseOver="this.style.color='white'">회원 기능</a>
                </p>
                <p>
                    <a href="/users/new">회 원 추 가</a>
                    <a href="/users">회 원 목 록</a>
                    <a href="/users/donateBook">기 부 내 역</a>
        <!--            <a href="http://localhost:3000/donate">도 서 기 부</a>-->
                    <a href="/main">사용자 화면</a>

                </p>
            </div>
        </div>
    </div>
</div> <!-- /container -->
<script src="js/clock.js"></script>
</body>

<script>
    const caldr = document.querySelector("#clock__caldr");
    const time = document.querySelector("#clock__time");

    function getClock(){
        const date  = new Date();
        const year = String(date.getFullYear()).padStart(2,"0")+'년';
        // const mon = String(date.getMonth('en-us', {2-digit})).padStart(2,"0");
        const mon = String(date.toLocaleString('ko-kr', {month: 'long'})).padStart(2,"0");
        const day = String(date.toLocaleString('ko-kr', {day: '2-digit'})).padStart(2,"0");
        caldr.innerText = `${year} ${mon} ${day}`;
        
        const hours = String(date.getHours()).padStart(2,"0");
        const minutes = String(date.getMinutes()).padStart(2,"0");
        const seconds = String(date.getSeconds()).padStart(2,"0");
        time.innerText = `${hours}:${minutes}:${seconds}`;
    }

    getClock();
    setInterval(getClock, 1000);
</script>
</html>